body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerH {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: stretch;
}

h1 {
    text-align: center;
}